# Set the registry URL with HTTPS
registry=http://dev01.sielcon.net:2001
# Specify the path to the SSL certificate authority file
cafile=./certificates/ca.pem
# Disable SSL verification (not recommended for production)
strict-ssl=false
