# Excluir la carpeta node_modules
node_modules/

# Excluir archivos de entorno
.env

# Excluir logs
*.log
logs/

# Excluir archivos de compilación
dist/
build/

# Excluir configuraciones de IDE
.vscode/
.idea/

# Excluir archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Excluir archivos temporales de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*