# ===== Configuracion general =====
NUMERO_MAQUINA=<numero de maquina>
API_URL=<url de la api>

# ===== Broker MQTT LOCAL =====
LOCAL_MQTT_NAME=MQTT
LOCAL_SRV_NAME=STS_LOCAL_PUBLISHER
LOCAL_IP=192.168.0.212
LOCAL_URL_MQTT=10.0.0.147
LOCAL_PORT_MQTT=8883
LOCAL_USERNAME=Cartel
LOCAL_PASSWORD=Mqtt123.
LOCAL_PORT_HTTP=6000
LOCAL_PORT_HTTPS=6001
LOCAL_PROTOCOL=ws
LOCAL_SERVICE_ID=sts_local_publisher_100

# ===== Broker MQTT EXTERNO (Casino) =====
CASINO_MQTT_NAME=sielcondev01/9105
CASINO_SRV_NAME=STS_LOCAL_PUBLISHER
CASINO_IP=192.168.0.212
CASINO_URL_MQTT=dev01.sielcon.net
CASINO_PORT_MQTT=9105
CASINO_USERNAME=
CASINO_PASSWORD=
CASINO_PORT_HTTP=6000
CASINO_PORT_HTTPS=6001
CASINO_PROTOCOL=ws
CASINO_SERVICE_ID=sts_local_publisher_100
